[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HotellingEllipse"]
	path = HotellingEllipse
	url = https://github.com/christiangoueguel/hotellingellipse
